<html>

    <title>Shopping List</title>

    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <script src="https://kit.fontawesome.com/20dd008c58.js" crossorigin="anonymous"></script>

</head>
<body>
    <h1 class="heading">Shopping List</h1>

    <section id="main-content">
    <ul>

        <% for(let i=0;i<shopping_list.length;i++) { %>

            <li>


                <p style="display: inline-block"><%=shopping_list[i].item %></p>&ensp;&ensp;

                    <a href="/delete-item/?item=<%= shopping_list[i].item %>">

                        <i class="fas fa-times"></i>

                    </a>

                <p><%=shopping_list[i].brand %></p>

            </li>

        <%}%>
    </ul>

</section>




    <div id="form">

        <form action="/save-item" method="post">

            <input type="text" name="item" placeholder="Enter the item name" required>

            <input type="text" name="brand" placeholder="Enter the brand name" required>

            <button type="submit">Add</button>
        </form>

    </div>
</body>
</html>