<html>

    <title>Document</title>
</head>
<body>
    <h1>Shopping List</h1>

    <ul>

        <% for(let i=0;i<shopping_list.length;i++) { %>

            <li>


                <p><%=shopping_list[i].item %></p>
                <p><%=shopping_list[i].brand %></p>

            </li>

        <%}%>
    </ul>

    <div>

        <form action="/save-item" method="post">

            <input type="text" name="item" placeholder="Enter the item name" required>

            <input type="text" name="brand" placeholder="Enter the brand name" required>

            <button type="submit">Add</button>
        </form>

    </div>
</body>
</html>