.heading{

    font-family: sans-serif;

    font-size: 2rem;

    text-align: center;

    font-style: italic;
}

#main-content{

    width: 100%;

    display: flex;

    justify-content: center;
}

#form{

    width:100%;

    display: flex;

    justify-content: center;
}

body{

    background: linear-gradient(to right,blue,purple);

    color:white;
}

a i{

    color:white;
}

#main-content{

    font-family: sans-serif;

    font-size: 1rem;
}